.container{
  background: #FFF7F1;
  margin: 0px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}
.text{
  /* background: red; */
  max-width:30%;
  min-height: 400px;
  display: inline-block;
}
h2{
  color: #F28E2A;
  font-size: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
p{
  font-size: 1.3rem;
  color: #6a6a6a;
  font-family: 'Poppins', sans-serif;
  }
  input{
    font-size: 1.3rem;
  }
  a{
    text-decoration: none;
    color: #858484;
 }
 .container-input{
   padding-bottom: 2.5rem;
 }
.buttonMessage{
  border: 1px solid #555;
  padding: 0.5rem;
  background:rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: center;
}
