
<div class="container">
  <div class="text">
      <h2>Restablecer contraseña</h2>
      <p>Para restablecer tu contraseña ingresa tu CUP
      y te envíaremos una liga para restablecerla.
      </p>
      <div class="">
        <input type="text" placeholder="Ingresa tu CURP">
        <!-- <button >Restablecer contraseña</button> -->
        <div class="containerLink"> <a href="/Restablecer">Restablecer constraseña</a>  </div>
      </div>

  </div>

  <!-- <a [routerLink]="['Restablecer']">Restablecer contraseña</a> -->
</div>
