.container{
  margin: 0px;
  background:#FFF7F1 ;
  display: flex;
  justify-content: center;
  width: 100%;
}

.text{
  max-width:600px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #F28E2A;
  font-size: 2.5rem;
}
