<div class="container">
    <div class="container-tex">
      <div class="text">
        <p>Te enviamos la liga para restablecer tu contraseña a
          tu correo electronico "correo", por favor ingresa antes de 24 hrs
        para llevar a cabo este proceso.</p>
      </div>

      <div class="text-input">
          <h2>Restablecer contraseña</h2>
          <input type="text" placeholder="Ingresa tu nueva contraseña" ><i class="fa fa-eye"></i>
          <input type="text" placeholder="Repite tu contraseña">
          <!-- <button href="/Solicitud" >Restablecer constraseña</button> -->
          <div class="containerLinkSoli"> <a href="/exitoso">Restablecer constraseña</a>  </div>
      </div>
  </div>
</div>

