<div class="container">
      <div  class="text-input">
          <h2>Restablecer contraseña</h2>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Ingresa tu nueva contraseña"/>
            <span class="input-group-addon">
                <i class="fa fa-eye"></i>
            </span>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Repite tu contraseña"/>
            <span class="input-group-addon">
                <i class="fa fa-eye"></i>
            </span>
        </div>
          <div class="button"> <a href="/exitoso">Restablecer constraseña</a>  </div>
      </div>
  </div>


