.container{
  background: #FFF7F1;
  margin: 0px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.text-input{
  min-width:30%;
  min-height: 350px;
}
h2{
  color: #F28E2A;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
}
.input-group{
  margin-bottom: 3rem;
}
.input-group input{
  font-size: 1.5rem;
}
.input-group-addon{
  background: white;
}
a{
   text-decoration: none;
   color: #858484;

}
.button{
  border: 1px solid #555;
  padding: 0.5rem;
  background:rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-align: center;
}
