.container{
  background: #FFF7F1;
  margin: 0px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.container-tex{
  display: inline-block;
}
.text{
  max-width:700px;
  min-height: 300px;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 2rem;
  color: #F28E2A;
  font-size: 2rem;
  text-align: justify;
}
.text-input{
  height: 400px;
}
h2{
  color: #F28E2A;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
input{
  width: 95%;
  margin-bottom: 3rem;

}
button{
  width: 95%;
  height: 4.5rem;
}
a{
  text-decoration: none;
  color: #858484;
}
.containerLinkSoli{
background:rgba(0, 0, 0, 0.1);
width: 95%;
height: 4.5rem;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid #858484;
}
